@page "/Address/Edit/{Id:int}"

@layout NurseLayout

@inject AddressService Service
@inject HKClinicDbContext db

@using HK_Clinic2.Models;
@using HK_Clinic2.Services;

<div class="container">
    <h3>Edit an Address</h3>
    <RadzenFieldset Text="Edit">
        <EditForm Model="address" OnValidSubmit="UpdateAddress">
            <DataAnnotationsValidator />
            <ValidationSummary />
            <div class="form-row">
                <div class="form-group col-4">
                    <label for="street-name">Street Name:*</label>
                    <InputText id="street-name" @bind-Value="address.StreetName" class="form-control" placeholder="Enter Street Name" />
                    <ValidationMessage For="@(() => address.StreetName)" />
                </div>

                <div class="form-group col-4">
                    <label for="building-number">Building Number:</label>
                    <InputNumber id="building-number" @bind-Value="address.BuildingNumber" class="form-control" placeholder="Enter Building Number" />
                    <ValidationMessage For="@(() => address.BuildingNumber)" />
                </div>

                <div class="form-group col-4">
                    <label for="unit-number">Unit Number:</label>
                    <InputNumber id="unit-number" @bind-Value="address.UnitNumber" class="form-control" placeholder="Enter Unit Number" />
                    <ValidationMessage For="@(() => address.UnitNumber)" />
                </div>
            </div>

            <div class="form-row">
                <div class="form-group col-4">
                    <label for="country">Country:</label>
                    <InputText id="country" @bind-Value="address.Country" class="form-control" placeholder="Enter Country" />
                    <ValidationMessage For="@(() => address.Country)" />
                </div>

                <div class="form-group col-4">
                    <label for="city">City:</label>
                    <InputText id="city" @bind-Value="address.City" class="form-control" placeholder="Enter City" />
                    <ValidationMessage For="@(() => address.City)" />
                </div>

                <div class="form-group col-4">
                    <label for="zip-code">Zip Code:</label>
                    <InputText id="zip-code" @bind-Value="address.ZipCode" class="form-control" placeholder="Enter Zip Code" />
                    <small style="display: block">(5 Digits)</small>
                    <ValidationMessage For="@(() => address.ZipCode)" />
                </div>
            </div>
            <br>
            <div class="mt-4"></div>
            <button type="submit" class="btn btn-outline-primary">Edit</button>
            &nbsp;&nbsp;
            <a href="Address/List" class="btn btn-outline-secondary" role="button">Go back to the list</a>
            <div class="mt-4"></div>
        </EditForm>
    </RadzenFieldset>
</div>

<p style="color:green; text-align:center;">@message</p>

@code{
    [Parameter]
    public int Id { get; set; }

    string message;

    Address address = new Address();

    protected override void OnInitialized()
    {
        address = Service.GetAddress(Id);
    }

    public void UpdateAddress()
    {
        // Edit Address
        Service.UpdateAddress(address);

        message = "Address updated successfully";
    }
}