@*This page is a dashboard that visualizes graphs and data to the nurse*@

@page "/Dashboard"

@layout NurseLayout
@using System.Globalization

<div class="row">
    <h1 class="col">Dashboard</h1>
    <div class="col">
        <h3 class="float-right"><strong>Date and Time: @DateTime.Now</strong></h3>
    </div>
</div>
<hr />
<div class="row">
    <div class="col">
        <div class="row">
            <RadzenCard Style="width:280px; margin-bottom: 30px; height:150px;">
                <h3 style="text-align:center">Today's Visits</h3><br />
                <h4 style="text-align:center">40</h4>
            </RadzenCard>
        </div>        
        <div class="row">
            <RadzenCard Style="width:280px; margin-bottom: 20px; height:150px;">
                <h3 style="text-align:center">Total Visits this Week</h3><br />
                <h4 style="text-align:center">150</h4>
            </RadzenCard>
        </div>    
    </div>
    <div class="col">
        <div class="row">
            <RadzenCard Style="width:280px; margin-bottom: 30px; height:150px;">
                <h3 style="text-align:center">Today's Appointments</h3><br />
                <h4 style="text-align:center">54</h4>
            </RadzenCard>
        </div>        
        <div class="row">
            <RadzenCard Style="width:280px; margin-bottom: 20px; height:150px;">
                <h3 style="text-align:center">Total Appointments this Week</h3><br />
                <h4 style="text-align:center">180</h4>
            </RadzenCard>
        </div>
  </div>
    <div class="col">
        <RadzenCard Style="width:600px; margin-bottom: 10px; height:400px;">
            <div>
                <h2>Total Medicine Consumption Per Day</h2>
                <div class="row">
                    <div class="col-sm-12">
                        <RadzenChart>
                            <RadzenPieSeries Data="@MedicineConsumption" Title="NumberOfUsage" CategoryProperty="Medicine" ValueProperty="NumberOfUsage" />
                        </RadzenChart>
                    </div>
                </div>
            </div>
        </RadzenCard>
    </div>
</div>


@code {
    class DataItem
    {
        public string Medicine { get; set; }
        public double NumberOfUsage { get; set; }
    }

    DataItem[] MedicineConsumption = new DataItem[] {
        new DataItem
        {
            Medicine = "Buscopan tablet",
            NumberOfUsage = 15
        },
        new DataItem
        {
            Medicine = "Scopinal syrup",
            NumberOfUsage = 2
        },
        new DataItem
        {
            Medicine = "Panadol extra",
            NumberOfUsage = 83
        },
        new DataItem
        {
            Medicine = "Panadol mild",
            NumberOfUsage = 24
        },
        new DataItem
        {
            Medicine = "Panadol cold and flu tablet",
            NumberOfUsage = 21
        },
        new DataItem
        {
            Medicine = "Solpadeine capsule",
            NumberOfUsage = 4
        },
        new DataItem
        {
            Medicine = "Solpadeine soluble",
            NumberOfUsage = 2
        },
    };
}
<hr />
<RadzenCard Style="width:1200px; height:500px;">
    <h2>Cost of Medicine per month in 2019 and 2020</h2>
    <div class="row">
        <div class="col-md-12 col-sm-12 p-4">
            <RadzenChart>
                <RadzenColumnSeries Data="@expenses2019" CategoryProperty="Month" Title="2020" LineType="LineType.Dashed" ValueProperty="Expenses" />
                <RadzenColumnSeries Data="@expenses2020" CategoryProperty="Month" Title="2019" ValueProperty="Expenses" />
                <RadzenColumnOptions Radius="10" />
                <RadzenValueAxis Formatter="@FormatAsSAR">
                    <RadzenGridLines Visible="true" />
                    <RadzenAxisTitle Text="Expenses in SAR" />
                </RadzenValueAxis>
            </RadzenChart>
        </div>
    </div>
</RadzenCard>
@code {
    class DataItem2
    {
        public string Month { get; set; }
        public double Expenses { get; set; }
    }

    string FormatAsSAR(object value)
    {
        return ((double)value).ToString("C0", CultureInfo.CreateSpecificCulture("ar-SAR"));
    }

    DataItem2[] expenses2019 = new DataItem2[] {
        new DataItem2
        {
            Month = "January",
            Expenses = 234000
        },
        new DataItem2
        {
            Month = "February",
            Expenses = 284000
        },
        new DataItem2
        {
            Month = "March",
            Expenses = 274000
        },
        new DataItem2
        {
            Month = "April",
            Expenses = 294000
        },
        new DataItem2
        {
            Month = "May",
            Expenses = 294000
        },
        new DataItem2
        {
            Month = "June",
            Expenses = 294000
        },
        new DataItem2
        {
            Month = "July",
            Expenses = 294000
        },
        new DataItem2
        {
            Month = "August",
            Expenses = 294000
        },
        new DataItem2
        {
            Month = "September",
            Expenses = 294000
        },
        new DataItem2
        {
            Month = "October",
            Expenses = 294000
        },
        new DataItem2
        {
            Month = "November",
            Expenses = 294000
        },
        new DataItem2
        {
            Month = "December",
            Expenses = 294000
        },
    };

    DataItem2[] expenses2020 = new DataItem2[] {
        new DataItem2
        {
            Month = "January",
            Expenses = 254000
        },
        new DataItem2
        {
            Month = "February",
            Expenses = 324000
        },
        new DataItem2
        {
            Month = "March",
            Expenses = 354000
        },
        new DataItem2
        {
            Month = "April",
            Expenses = 394000
        },
        new DataItem2
        {
            Month = "May",
            Expenses = 294000
        },
        new DataItem2
        {
            Month = "June",
            Expenses = 294000
        },
        new DataItem2
        {
            Month = "July",
            Expenses = 294000
        },
        new DataItem2
        {
            Month = "August",
            Expenses = 294000
        },
        new DataItem2
        {
            Month = "September",
            Expenses = 294000
        },
        new DataItem2
        {
            Month = "October",
            Expenses = 294000
        },
        new DataItem2
        {
            Month = "November",
            Expenses = 294000
        },
        new DataItem2
        {
            Month = "December",
            Expenses = 294000
        },
    };
}
