@page "/Patient/Add"

@layout NurseLayout

@using HK_Clinic2.Models
@using HK_Clinic2.Services
@using Microsoft.AspNetCore.Components.Forms

@inject PatientService Service
@inject AddressService AdService
@inject NavigationManager NavigationManager
@inject HKClinicDbContext db

<RadzenTabs>

    <Tabs>
        <RadzenTabsItem Text="Add Address">
            <div class="container-fluid">

                <fieldset>
                    <legend>Add New Address</legend>
                    <EditForm Model="address" OnValidSubmit="CreateAddress">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="form-row">
                            <div class="form-group col-4">
                                <label for="country">Country:*</label>
                                <InputText id="country" @bind-Value="address.Country" class="form-control" placeholder="Enter Country" />
                            </div>

                            <div class="form-group col-4">
                                <label for="city">City:*</label>
                                <InputText id="city" @bind-Value="address.City" class="form-control" placeholder="Enter City" />
                            </div>

                            <div class="form-group col-4">
                                <label for="street-name">Street Name:*</label>
                                <InputText id="street-name" @bind-Value="address.StreetName" class="form-control" placeholder="Enter Street Name" />
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-4">
                                <label for="building-number">Building Number:</label>
                                <InputNumber id="building-number" @bind-Value="address.BuildingNumber" class="form-control" placeholder="Enter Building Number" />
                            </div>

                            <div class="form-group col-4">
                                <label for="unit-number">Unit Number:</label>
                                <InputNumber id="unit-number" @bind-Value="address.UnitNumber" class="form-control" placeholder="Enter Unit Number" />
                            </div>

                            <div class="form-group col-4">
                                <label for="zip-code">Zip Code:</label>
                                <InputText id="zip-code" @bind-Value="address.ZipCode" class="form-control" placeholder="Enter Zip Code" />
                            </div>
                        </div>
                        <br />

                        <div class="mt-4"></div>
                        <button type="submit" class="btn btn-outline-primary" style=" width: 80px;">Save</button>
                        <a href="/Patient/List" class="btn btn-outline-secondary">Cancel</a>
                    </EditForm>
                </fieldset>
            </div>
            <br><br><br>
        </RadzenTabsItem>
        <RadzenTabsItem Text="Add New Patient">
            <div class="container-fluid">

                <fieldset>
                    <legend>Add New Patient Information</legend>
                    <EditForm Model="patient" OnValidSubmit="CreatePatient">
                        <DataAnnotationsValidator />
                        <ValidationSummary />

                        <div class="form-row">
                            <div class="form-group col-4">
                                <label for="first-name">First Name:*</label>
                                <InputText id="first-name" @bind-Value="patient.FirstName" class="form-control" placeholder="Enter Patient's Fisrt Name" />
                            </div>

                            <div class="form-group col-4">
                                <label for="middle-name">Middle Name:*</label>
                                <InputText id="middle-name" @bind-Value="patient.MiddleName" class="form-control" placeholder="Enter Patient's Middle Name" />
                            </div>

                            <div class="form-group col-4">
                                <label for="last-name">Last Name:*</label>
                                <InputText id="last-name" @bind-Value="patient.LastName" class="form-control" placeholder="Enter Patient's Last Name" />
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-3">
                                <label for="national-id">National ID:*</label>
                                <InputText id="national-id" @bind-Value="patient.NationalId" class="form-control" placeholder="Enter the National ID of the Patient" />
                            </div>

                            <div class="form-group col-3">
                                <label for="mobile">Mobile Number:</label>
                                <InputText id="mobile" @bind-Value="patient.Mobile" class="form-control" placeholder="0500000000" />
                            </div>

                            <div class="form-group col-3">
                                <label for="birthDate">Date Of Birth:</label>
                                <InputDate id="birthDate" @bind-Value="patient.DateOfBirth" class="form-control" />
                            </div>

                            <div class="form-group col-3">
                                <label for="email" class="control-label">Email: </label>
                                <InputText type="email" id="email" @bind-Value="patient.Email" class="form-control" placeholder="sam@example.com" />
                                <ValidationMessage For="@(() => patient.Email)" />
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-3">
                                <label style="display: flex; align-items: center">
                                    <span style="margin-right: 32px">Patient Type:*</span>
                                </label>
                                <RadzenDropDown Data="@type" @bind-Value="patient.Type" Placeholder="Select Patient Type..." />
                            </div>

                            <div class="form-group col-3">
                                <label style="display: flex; align-items: center">
                                    <span style="margin-right: 32px">Gender:*</span>
                                </label>
                                <RadzenDropDown Data="@gender" @bind-Value="patient.Gender" Placeholder="Select Gender..."/>
                            </div>

                            <div class="form-group col-3">
                                <label style="display: flex; align-items: center">
                                    <span style="margin-right: 32px">Language:</span>
                                </label>
                                <RadzenDropDown Data="@language" @bind-Value="patient.Language" Placeholder="Select Language..." />
                            </div>
                        </div>

                        <div class="form-row">
                            <div class="form-group col-3">
                                <label style="display: flex; align-items: center">
                                    <span style="margin-right: 32px">Address:*</span>
                                </label>
                                <RadzenDropDown AllowClear="true" TValue="int"
                                                LoadData="@LoadData" AllowFiltering="true"
                                                Data="@patientAddress" TextProperty="StreetName" ValueProperty="AddressId" Style="margin-bottom: 20px" Placeholder="Select Address..." @bind-Value="patient.AddressId"
                                                Change="@(args => Change(args, "Address DropDown "))" />
                            </div>
                            <div class="form-group col-3">
                                <label style="display: flex; align-items: center">
                                    <span style="margin-right: 32px">Patient Level of Risk:*</span>
                                </label>
                                <RadzenDropDown Data="@levelOfRisks" @bind-Value="patient.LevelOfRisk" Placeholder="Select Level of Risk..." />
                            </div>
                        </div>

                        <br />

                        <div class="file-field">
                            <label for="Photo">Photo:</label>
                            <br />
                            <div class="btn btn-primary btn-sm float-left">
                                <span>Choose file</span>
                                <input type="file">
                            </div>
                        </div>

                        <br /><br />

                        <div class="mt-4">

                            <fieldset>
                                <legend>Archive</legend>

                                <div class="form-check">
                                    <InputCheckbox id="ischeckedarchive" @bind-Value="IsArchived" class="form-check-input" />
                                    <label class="form-check-label" for="ischeckedarchive">Archive Patient Profile</label>
                                </div>

                            </fieldset>
                        </div>
                        <br />

                        <button type="submit" class="btn btn-outline-primary">Add Patient</button>
                        &nbsp;&nbsp;
                        <a href="Patient/List" class="btn btn-outline-secondary">Cancel</a>
                    </EditForm>
                </fieldset>
            </div>
        </RadzenTabsItem>
        <br><br><br>
    </Tabs>
</RadzenTabs>

@code {
    Patient patient = new Patient();

    Address address = new Address();

    private List<Address> addresses = new List<Address>();

    private List<Patient> patients = new List<Patient>();

    private bool IsArchived = false;

    //Execute when component starts / initializes
    protected override void OnInitialized()
    {
        patients = Service.GetPatients();
        //addresses = AddressService.GetAddresses();
    }

    //Code for gender drop down list
    IEnumerable<PatientGender> gender = Enum.GetValues(typeof(PatientGender)).Cast<PatientGender>();

    //Code for language drop down list
    IEnumerable<PatientLanguage> language = Enum.GetValues(typeof(PatientLanguage)).Cast<PatientLanguage>();

    //Code for patient type drop down list
    IEnumerable<PatientType> type = Enum.GetValues(typeof(PatientType)).Cast<PatientType>();

    //Code for patient level of risk drop down list
    IEnumerable<PatientLevelOfRisk> levelOfRisks = Enum.GetValues(typeof(PatientLevelOfRisk)).Cast<PatientLevelOfRisk>();

    IEnumerable<Address> patientAddress;

    private void CreatePatient()
    {
        patient.IsArchived = IsArchived;

        Service.AddPatient(patient);

        // To empty the form
        patient = new Patient();

        // May navigate to the Patient/List component
        NavigationManager.NavigateTo("Patient/List");
    }

    private void CreateAddress()
    {
        AdService.AddNewAddress(address);

        // To empty the form, find more elegant why
        address = new Address();

        // May navigate to the Employees component
        NavigationManager.NavigateTo("/Patient/List");
    }

    void Change(object value, string name)
    {
        var str = value is IEnumerable<object> ? string.Join(", ", (IEnumerable<object>)value) : value;

        //events.Add(DateTime.Now, $"{name} value changed to {str}");
        StateHasChanged();
    }

    void LoadData(LoadDataArgs args)
    {
        var query = db.Address.AsQueryable();


        if (!string.IsNullOrEmpty(args.Filter))
        {
            //query = query.Where(c => c.AddressId.ToLower().Contains(args.Filter.ToLower()) || c.StreetName.ToLower().Contains(args.Filter.ToLower()));
        }

        patientAddress = query.ToList();

        InvokeAsync(StateHasChanged);
    }
}